.link {
  background-color: aqua;

  ul li a {
    background-color: grey;
    margin: 5px;
    width: 80px;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(238, 21, 57);
    border-radius: 5px;
    display: block;
  }

  ul li a:hover {
    background-color: rgb(13, 235, 65);
    color: aliceblue;
    
  }
  button {
    padding: 10px;
    margin-left: 80px;
    border: 2px solid rgb(40, 15, 15);
    border-radius: 5px;
  }
}

.page {
  background-color: pink;
  
  li {
    display: inline;
    padding: 10px;
  }
}