.text {
  h1 {
    font-size: larger;
    font-weight: bolder;
    padding-top: 10px;
    margin: 8px;
  }

  p {
    padding-bottom: 10px;
    margin: 8px;
  }
}

.img {
  display: flex;
  margin-top: 10px;

  @media (max-width: 600px) {
    flex-direction: column;
    background-color: cadetblue;
  }
  img {
    padding-left: 100px;
    width: 50%;
    height: auto;
  }
  .para {
    margin-top: 100px;
    float: right;
    padding: 20px;
    width: 50%;
    margin-right: 50px;

    p {
      width: 70%;
      font-size: 24px;
    }
  }
}
