.notfound {
    text-align: center;
    margin-top: 100px

  }

  .notfound a {
    color: rgb(34, 48, 239);
    text-decoration: underline;
  }
  
  .text {
    font-size: larger;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .text2 {
    font-size: large;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .para {
    font-size: small;
    margin-bottom: 90px;
  }