.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(191, 189, 189);
  max-width: 100vw;

  .social {
    display: flex;
    padding: 5% 4%;

    a {
      padding: 4px;
    }
    &:hover {
      color: rgb(142, 140, 140);
    }
  }
  .link {
    padding: 5% 4%;

    a {
      padding: 4px;
    }
  }

  .copy {
    padding: 5% 4%;
  }
};
